@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 60px;
  background-image: url(background.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper_with_padding {
  width: 50%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

nav {
  float: right;
  a {
	   text-decoration: none;
 		 color: gray;
		 font-size: 20px;
		 line-height: 1;
     padding-right: 3rem;
		 margin-left: 2rem;
		 &:hover {
		     color: white;
         text-decoration: overline;
         text-overline-width: 10px;
		}
	}
}

.products_table {
  text-align: center;
  tr:hover {
    background-color: #e4e4e4;
  }
}

.my_profile {
  .glyphicon {
    font-size: 100px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 10px;
  }
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
